################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CGM_V4/v16
/CGM_V4/x64/Debug
/x64/Debug
